@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";

@theme {
  --font-primary: "Nunito", sans-serif;
  --color-primary: #183ba3;
  --color-secondary: #dbd55b;
}

* {
  overflow-x: hidden;
  overflow-y: hidden;
}

@keyframes fadeIn {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.page-enter {
  animation: fadeIn 0.3s ease-in-out;
}
